<mat-nav-list>
  <div class="logo py-4">
    <a class="navbar-brand" href="#" class=" fw-bold text-white text-decoration-none fst-italic"><span
        class="text-warning">Auto</span>mobiles <span class="text-warning">ser</span>vice</a>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">Applications</h2>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon> Dashboard</a>
  <a mat-list-item routerLink="/dashboard/appoinment" routerLinkActive="list-item-active">
    <mat-icon>edit</mat-icon> Appoinments</a>
  <a mat-list-item routerLink="/dashboard/dashboards" routerLinkActive="list-item-active">
    <mat-icon>edit</mat-icon> Emergency Appoinments</a>
  <a mat-list-item routerLink="/dashboard/profile" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon> Profile</a>
</mat-nav-list>
