<div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/about/about-bg.jpg" class="d-block w-100" alt="banner-1" height="500">
      <div class="carousel-caption text-start text-uppercase banner-padding">
        <p class="text-warning fs-1 mb-0 fw-bold text-uppercase">we care
        </p>
        <p class="fs-5 fw-bold text-capitalize">About your Vehicle</p>

      </div>
    </div>
  </div>
</div>



<div class="bg py-5">
  <div class="container">
    <p class="text-white engine" id="about">About Us</p>
    <div class="row">
      <div class="col-md-6">
        <p class="text-warning fs-1 fw-bold text-center text-uppercase">we are provide professional service</p>
        <p class="text-white sub">Auto Service is a new age multi-brand vehicle service center established in the year
          of 2023. we have pride ourselves in offering our customers with standarized services at a competitive
          price.our young energetic and genius team's sole purpose is to achieve the highest level of customer
          satification by making an easy and quality experience.</p>
        <p class="text-white sub">We offer a full range of garage services to vehicle owners in the area. our
          professionals know how to handle a wide range of car services. whether you drive a passengers car or medium
          sized truck or bike, our mechanics strive for ensuring that your vehicle will be performing at it's best
          before leaving our repair shop. we know how to take care of your vehicle. </p>

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <img src="./assets/about/about-img.jpg" class="img-fluid img-size" alt="about">
      </div>
    </div>
  </div>






  <div class="container-fluid my-5">
    <div class="row">
      <div class="col-md-4 text-center">
        <p class="text-white fs-1 fw-bold text-center mb-5 text-uppercase">Why <span class="text-warning">Choose</span>
          us</p>
        <p class="text-white text-start fs-5 mt-2">We have the most advanced equipment for your auto diagnostic and
          recovery</p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 col-6">
            <hr class="border border-warning opacity-50">
            <h5 class="text-uppercase text-white mb-3 fs-5"><span class="text-warning">01</span> Modern Workshop
            </h5>
            <p class="text-white fs-5">Our vehicle repair company invites you to our workshop to show off what we got
              inside</p>
          </div>
          <div class="col-md-6 col-6">
            <hr class="border border-warning opacity-50">
            <h5 class="text-uppercase text-white mb-3 fs-5"><span class="text-warning">02</span> Talented Workers</h5>
            <p class="text-white fs-5">Our team includes painters, tyre fleeters, welders and other proffessional
              specialists.</p>
          </div>
          <div class="col-md-6 col-6">
            <hr class="border border-warning opacity-50">
            <h5 class="text-uppercase text-white mb-3 fs-5"><span class="text-warning">03</span> Best Price</h5>
            <p class="text-white fs-5">We offer you the best pricing table in town. you won't find cheaper</p>
          </div>
          <div class="col-md-6 col-6">
            <hr class="border border-warning opacity-50">
            <h5 class="text-uppercase text-white mb-3 fs-5"><span class="text-warning">04</span> Quick Support</h5>
            <p class="text-white fs-5">Contact us beforehand to book a vacant place in our workshop.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card-group">
          <div class="card border border-0">
            <img src="./assets/about/gallary-3.jpg" alt="gallary-1">

          </div>
          <div class="card  border border-0">
            <div class="text-center">
              <img src="./assets/about/car-care.svg" alt="" class="py-3" width="70">
              <h5 class="text-warning fw-bold">Body Care</h5>
              <p class="fw-semibold fst-italic px-4">Check your vehicle's owner's manual and find out when your recommended
                car maintenance services should be scheduled. </p>
            </div>

          </div>
          <div class="card border border-0">
            <img src="./assets/about/gallary-5.jpg" alt="gallary-1">

          </div>
        </div>
        <div class="col-md-12">
          <div class="card-group">
            <div class="card  border border-0">
              <div class="text-center">
                <img src="./assets/about/car-repair1.svg" alt="" class="py-3" width="70">
                <h5 class="text-warning fw-bold">Auto Repair</h5>
                <p class="fw-semibold fst-italic px-4">Usually, basic car maintenance involves checking or replacing parts like spark plugs, wires, fluids, and serpentine belts. Scheduling maintenance services through your dealer may be best. </p>
              </div>

            </div>
            <div class="card  border border-0">
              <img src="./assets/about/gallary-4.jpg" alt="gallary-1">

            </div>
            <div class="card  border border-0">
              <div class="text-center">
                <img src="./assets/about/quality.svg" alt="" class="py-3" width="70">
                <h5 class="text-warning fw-bold" >Quality</h5>
                <p class="fw-semibold fst-italic px-4">Quality in Product refers to the ability of the vehicle to meets all expectations in terms of function and behavior. Such expectations include engine efficiency, product features and environmental exhaust standards.</p>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container-fluid my-5">
    <div class="row my-5 text-center">
      <h2 class="text-center fw-semibold text-white text-uppercase">Why <span class="text-warning">we</span> Are
        <span class="text-warning">different</span>
      </h2>
      <div class="col-md-3 mt-2 col-6">
        <hr class="border border-warning opacity-75">
        <img src="./assets/about/customer-service.svg" alt="engine" width="60">

        <h5 class="text-warning my-2 pt-2">Customer-oriented Service</h5>
        <p class="text-white pb-3">We value the service we provided and our loyal returning customers can always expect
          some
          appreciation from us ,like a future services discount or a gift.</p>
          <hr class="border border-warning opacity-75">
      </div>
      <div class="col-md-3 mt-2 col-6">
        <hr class="border border-warning opacity-75">
        <img src="./assets/about/team.svg" alt="engine" width="70">

        <h5 class="text-warning my-2 ">Seasoned Team</h5>
        <p class="text-white pb-3">When it comes to repairing or doing checkups on your car's mechanics or electronics,
          all
          our team combined has almost a certury of practical experience.</p>
          <hr class="border border-warning opacity-75">
      </div>
      <div class="col-md-3 mt-2 col-6">
        <hr class="border border-warning opacity-75">
        <img src="./assets/about/checklist.svg" alt="engine" width="47">

        <h5 class="text-warning my-2 pt-4">Affordable Prices</h5>
        <p class="text-white pb-3">We aim to make our service as reasonably priced as possible. that's why we cut on all
          unessential bussiness expenses product to the Affordable prices</p>
          <hr class="border border-warning opacity-75">
      </div>
      <div class="col-md-3 mt-2 col-6">
        <hr class="border border-warning opacity-75">
        <img src="./assets/about/Brake-repair.svg" alt="engine" class="mt-2" width="50">

        <h5 class="text-warning my-2 pt-3">High-Quality vehicle Parts</h5>
        <p class="text-white pb-3">All the car parts and details we have in stock were purchased from the most
          trust worthy
          dealers and the manufacturers to the original high quality vehicle parts</p>
          <hr class="border border-warning opacity-75">
      </div>
    </div>
  </div>

</div>
