<mat-dialog-actions align="end">
  <button mat-dialog-close class="border border-0 bg-white"><img src="./assets/svg/close.svg" alt="close"
      width="40px"></button>
</mat-dialog-actions>
<div class="container pb-5">
  <div class="text-center">
    <h2 class="text-center fs-2 fw-semibold">Quick <span class="text-warning">Service</span></h2>
    <p class="fw-bold fst-italic ">You Need a Emergency Service Please Fill Your Details :</p>

  </div>

  <form action="" method="post" class="row mt-3">

    <div class="form-group pb-4 col-md-4 col-6">
      <input type="text" name="text" id="exampleInputText" placeholder="Enter Your Full Name"
        class="form-control fw-bold" aria-describedby="name" required>
    </div>
    <div class="col-md-4 pb-4 col-6">
      <div class="input-group">
        <span class="input-group-text fw-semibold text-secondary" id="basic-addon1">+91</span>
        <input type="number" name="email" id="exampleInputNumber" placeholder="Ente Your Mobile Number"
          class="form-control fw-bold" aria-describedby="numberHelp" required>
      </div>

    </div>
    <div class="form-group pb-4 col-md-4">
      <select id="inputState" class="form-select form-control fw-bold text-secondary">
        <option selected>What Type Of Help</option>
        <option *ngFor="let helps of help">{{helps.name}}</option>

      </select>
    </div>

    <div class="form-group pb-4 col-md-4">
      <select id="inputState" class="form-select form-control fw-bold text-secondary" (change)="click($event)">
        <option selected>Select Vehicle</option>
        <option *ngFor="let vehi of vehicle" value="{{vehi.vehicle}}">{{vehi.name}}</option>

      </select>
    </div>

    <div class="form-group pb-4 col-md-4 col-6">
      <select id="inputState" class="form-select form-control fw-bold text-secondary" (change)="onClick($event)">
        <option selected>Select Brands</option>
        <option *ngFor="let brand of brands" value="{{brand.brand}}">{{brand.name}}</option>

      </select>
    </div>

    <div class="form-group pb-4 col-md-4 col-6">
      <select id="inputState" class="form-select form-control fw-bold text-secondary">
        <option selected>Select Model</option>
        <option *ngFor="let models of model">{{models.variant}}</option>

      </select>
    </div>

    <div class="form-group pb-4 col-md-4">
      <select id="inputState" class="form-select form-control fw-bold text-secondary" (change)="select($event)">
        <option selected>Select country</option>
        <option *ngFor="let count of country" value="{{count.country}}">{{count.name}}</option>

      </select>
    </div>
    <div class="form-group pb-4 col-md-4">
      <select id="inputState" class="form-select form-control fw-bold text-secondary" (change)="onSelect($event)">
        <option selected>Select State</option>
        <option *ngFor="let states of state" value="{{states.state}}">{{states.name}}</option>

      </select>
    </div>

    <div class="form-group pb-4 col-md-4 col-6">
      <select id="inputState" class="form-select form-control fw-bold text-secondary">
        <option selected>Select City</option>
        <option *ngFor="let cities of city">{{cities.name}}</option>

      </select>
    </div>

    <div class="form-group pb-4 col-md-4 col-6">
      <input type="number" name="email" id="exampleInputNumber" placeholder="Ente Your Pincode"
        class="form-control fw-bold" aria-describedby="numberHelp" required>
    </div>

    <div class="form-group pb-4 col-md-4">
      <select id="inputState" class="form-select form-control fw-bold text-secondary">
        <option selected>Select Service Center</option>
        <option *ngFor="let services of service">{{services.Center}}</option>
      </select>
    </div>

    <div class="form-group pb-4 col-md-4">
      <select id="inputState" class="form-select form-control fw-bold text-secondary">
        <option selected>Select Service</option>
        <option *ngFor="let complaint of complaints">{{complaint.service}}</option>
      </select>
    </div>


    <div class="col-md-12 text-center">
      <button class="btn btn-warning fw-bold px-5 py-2" type="submit">Submit</button>
    </div>
  </form>

</div>
