<app-header></app-header>
<!----------------------------------------------------Banner-------------------------------------------------->
<div class="bg pb-5">

  <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/banner/banner-22.jpg" class="d-block w-100 banner-1" alt="banner-2">
        <div class="carousel-caption text-uppercase banner-padding1">
          <h2>best vehicle <span class="text-warning">repair</span> &amp; <span class="text-warning">maintenance</span>
          </h2>
          <p class="fs-4 text-capitalize"> one click away services are here!</p>
          <p class="text-capitalize text-warning">get better savings plus trusted vehicle repair mechanics</p>
          <div class="text-center mt-5">
            <button type="button" class="btn btn-outline-warning p-2 px-5 rounded-pill fw-bold">Book an
              Appointment</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <img src="./assets/banner/banner-11.jpg" class="d-block w-100 banner-1" alt="banner-1">
        <div class="carousel-caption text-uppercase banner-padding">
          <p class=" fs-1 fw-semibold">AUTO REPAIR</p>
          <h1 class="text-warning fw-bold">SERVICES</h1>
       <p class="fw-bold">We'll care of all your auto repair needs: brakes, tires, oil changes and everything in between</p>
       <button type="button" class="btn btn-warning p-2 px-5 rounded-pill fw-bold">Book an
        Appointment</button>
      </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!----------------------------------------------------car repair and service----------------------------------------------------------------->
  <div class="container my-5">
    <div class="row my-5">
      <h2 class="text-center fw-semibold text-white">Vehicle <span class="text-warning">Repair</span> &#38; <span
          class="text-warning">Services</span></h2>
      <div class="col-md-3 mt-2 col-6">
        <hr class="border border-warning opacity-75">
        <img src="./assets/svg/engine.svg" alt="engine" width="50">

        <h5 class="text-warning my-2">Engine Repair</h5>
        <p class="text-white">The check engine light illuminates when your vehicle's computer believes there is a
          problem that could affect or is affecting your vehicles emissions control system.</p>

        <button type="button" class="btn btn-bg fw-bold text-white">&gt;</button>
        <span class="text-uppercase fw-semibold ms-3 text-white">details service</span>
      </div>
      <div class="col-md-3 mt-2 col-6">
        <hr class="border border-warning opacity-75">
        <img src="./assets/svg/wash.svg" class="pt-2" alt="engine" width="50">

        <h5 class="text-warning my-2 pt-3">Vehicles Spa and Cleaning</h5>
        <p class="text-white">A clean Vehicles not only makes your drive pleasant but also removes any kind of
          distraction
          that may interfere with your driving.</p>

        <button type="button" class="btn btn-bg fw-bold text-white">&gt;</button>
        <span class="text-uppercase fw-semibold ms-3 text-white">details service</span>
      </div>
      <div class="col-md-3 mt-2 col-6">
        <hr class="border border-warning opacity-75">
        <img src="./assets/svg/Brake-repair.svg" class="pt-3" alt="engine" width="40">

        <h5 class="text-warning my-2 pt-3">Brake Repair</h5>
        <p class="text-white">That's why brake repair is so important. Engine maintenance will keep your Vehicles
          moving;
          brakes maintenance can prevent an accident.</p>

        <button type="button" class="btn btn-bg fw-bold text-white">&gt;</button>
        <span class="text-uppercase fw-semibold ms-3 text-white">details service</span>
      </div>
      <div class="col-md-3 mt-2 col-6">
        <hr class="border border-warning opacity-75">
        <img src="./assets/svg/wheel.svg" class="pt-3" alt="engine" width="50">

        <h5 class="text-warning my-2 pt-1">Tyres and wheels</h5>
        <p class="text-white">A tyre needs to be typically replaced every 5 to 6 years, even if the tread is not worn
          out. This is done for the safety of the vehicle.</p>

        <button type="button" class="btn btn-bg fw-bold text-white">&gt;</button>
        <span class="text-uppercase fw-semibold ms-3 text-white">details service</span>
      </div>
    </div>
    <div class="row my-5 pb-5">
      <div class="col-md-3 mt-2 col-6">
        <hr class="border border-warning opacity-75">
        <img src="./assets/svg/car-accident.svg" class="pt-3" alt="engine" width="50">

        <h5 class="text-warning my-2">Accidental vehicle Repair</h5>
        <p class="text-white">Getting into a vehicle accident is a scary experience and moments after accident are
          stressful. If you have been searching for a company that is able to carry out .</p>

        <button type="button" class="btn btn-bg fw-bold text-white">&gt;</button>
        <span class="text-uppercase fw-semibold ms-3 text-white">details service</span>
      </div>
      <div class="col-md-3 mt-2 col-6">
        <hr class="border border-warning opacity-75">
        <img src="./assets/svg/car-light.svg" class="pt-3" alt="engine" width="40">

        <h5 class="text-warning my-2 pt-2">Lights and Fitments</h5>
        <p class="text-white">Changing headlight bulbs in pairs assures that the road ahead will be properly
          illuminated
          and that drivers will get the full safety benefit of the vehicle's headlights.</p>

        <button type="button" class="btn btn-bg fw-bold text-white">&gt;</button>
        <span class="text-uppercase fw-semibold ms-3 text-white">details service</span>
      </div>
      <div class="col-md-3 mt-2 col-6">
        <hr class="border border-warning opacity-75">
        <img src="./assets/svg/steering.svg" class="pt-3" alt="engine" width="40">

        <h5 class="text-warning my-2 pt-2">Steering Repair</h5>
        <p class="text-white">The check engine light illuminates when your vehicle's computer believes there is a
          problem that could affect — or is affecting — your car's emissions control system.</p>

        <button type="button" class="btn btn-bg fw-bold text-white">&gt;</button>
        <span class="text-uppercase fw-semibold ms-3 text-white">details service</span>
      </div>
      <div class="col-md-3 mt-2 col-6">
        <hr class="border border-warning opacity-75">
        <img src="./assets/svg/battery.svg" class="pt-3" alt="engine" width="40">

        <h5 class="text-warning my-2 pt-2 ">Battery Repair</h5>
        <p class="text-white">The check engine light illuminates when your vehicle's computer believes there is a
          problem that could affect — or is affecting — your car's emissions control system.</p>

        <button type="button" class="btn btn-bg fw-bold text-white">&gt;</button>
        <span class="text-uppercase fw-semibold ms-3 text-white">details service</span>
      </div>
    </div>
  </div>

  <!----------------------------------------------------end---------------------------------------------------------------------------->


  <!----------------------------------------------------How to Service----------------------------------------------------------------->
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4 text-center">
        <p class="text-white fs-1 fw-bold text-start mb-5 text-uppercase">How to Service Your Vehicle</p>
        <p class="text-white text-start fs-5 mt-2">Rather Than Letting Your Services go by, Take These Steps to Keep
          your vehicle in good shape until you can afford a full service.</p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 col-6">
            <hr class="border border-warning opacity-50">
            <h5 class="text-uppercase text-white mb-3 fs-5"><span class="text-warning">01</span> make an appointment
            </h5>
            <p class="text-white fs-5">Promotors has made it easily to schedule on oppointment online at a location
              near
              you in a few simple steps, easy schedule for customers</p>
          </div>
          <div class="col-md-6 col-6">
            <hr class="border border-warning opacity-50">
            <h5 class="text-uppercase text-white mb-3 fs-5"><span class="text-warning">02</span> select service</h5>
            <p class="text-white fs-5">We specialize in Vehicle service and have more than 20 years of experience in
              vehicles. We are vehicles guys from day one. We love and respect vehicles</p>
          </div>
          <div class="col-md-6 col-6">
            <hr class="border border-warning opacity-50">
            <h5 class="text-uppercase text-white mb-3 fs-5"><span class="text-warning">03</span> Confirm Request</h5>
            <p class="text-white fs-5">Has your request been confirmed? reduce no-shows, save time. and focus on
              serving
              clients is our criterian</p>
          </div>
          <div class="col-md-6 col-6">
            <hr class="border border-warning opacity-50">
            <h5 class="text-uppercase text-white mb-3 fs-5"><span class="text-warning">04</span> Get your Vehicle</h5>
            <p class="text-white fs-5">It's a vehicle inspection that keep your vehicle in reliable. safe and
              fully-functioning condition based on guidelines set out by the vehicle.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------------------------end--------------------------------------------------------------->

  <!---------------------------------------------------------------------exterior and interior------------------------------------------>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img src="./assets/home/car-exterior.jpg" alt="car-exterior" class="exterior-rubbing">
      </div>
      <div class="col-md-6 p-5">
        <h2 class="text-white text-uppercase p-5">vehicles exterior cleaning: basic detailing</h2>
        <div class="row">
          <div class="col-md-6 px-5">
            <ul>
              <li class="text-warning "><span class="text-uppercase text-white fw-semibold">same day service</span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li class="text-warning "><span class="text-uppercase text-white fw-semibold">online appointment</span>
              </li>
            </ul>
          </div>
          <div class="col-md-6 px-5">
            <ul>
              <li class="text-warning "><span class="text-uppercase text-white fw-semibold">Convenent location</span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li class="text-warning "><span class="text-uppercase text-white fw-semibold">complementry
                  shuttle</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-bg fw-bold text-dark mt-3 px-5 py-2" type="button">GET SERVICE</button>
        </div>
      </div>

      <div class="col-md-6 p-5 mt-3 ">
        <h2 class="text-white text-uppercase pt-5">Rubbing, waxing, and<br>polishing</h2>

        <p class="text-white">Our technicians have undergone the most extensive and stringent vehicle <br> detail
          training program. and the only vehicle that matters is yours because <br> we will detail it to your complete
          satisfication</p>
        <button class="btn btn-bg fw-bold text-dark px-5 py-2 mt-3" type="button">GET SERVICE</button>

      </div>
      <div class="col-md-6 mt-3">
        <img src="./assets/home/rubbing.jpg" alt="car-exterior" class="exterior-rubbing">
      </div>
    </div>
  </div>

  <!---------------------------------------------------------------------------end---------------------------------------------------->

  <!---------------------------------------------------------------our-brand---------------------------------------------------------->

  <div class="container my-5">
    <div class="row my-5">

      <h2 class="text-center mb-4 text-white text-uppercase">Best Multi <span class="text-warning">brand
          vehicles</span>
        repair Service</h2>

      <div class="col-md-2 mt-2 col-6">
        <div class="text-center border border-1 border-secondary px-5 py-3">
          <img src="./assets/brand/wolks-wagon.png" alt="wolks-wagon" width="85">
        </div>
      </div>

      <div class="col-md-2 mt-2 col-6">
        <div class="text-center border border-1 border-secondary px-5 py-3">
          <img src="./assets/brand/bmw.png" alt="bmw" width="57">
        </div>
      </div>
      <div class="col-md-2 mt-2 col-6">
        <div class="text-center border border-1 border-secondary px-5 py-3">
          <img src="./assets/brand/bnez.png" alt="benz" width="77">
        </div>
      </div>
      <div class="col-md-2 mt-2 col-6">
        <div class="text-center border border-1 border-secondary px-5 py-3">
          <img src="./assets/brand/Mahindra.png" alt="mahindra" class="brand-img">
        </div>
      </div>
      <div class="col-md-2 mt-2 col-6">
        <div class="text-center border border-1 border-secondary px-5 py-3">
          <img src="./assets/brand/Tata.png" alt="Tata" class="brand-img">
        </div>
      </div>

      <div class="col-md-2 mt-2 col-6">
        <div class="text-center border border-1 border-secondary px-5 py-3">
          <img src="./assets/brand/yamaha.png" alt="yamaha" width="85">
        </div>
      </div>

      <div class="col-md-2 mt-2 col-6">
        <div class="text-center border border-1 border-secondary px-5 py-3 ">
          <img src="./assets/brand/audi.png" alt="audi" class="brand-img">
        </div>
      </div>
      <div class="col-md-2 mt-2 col-6">
        <div class="text-center border border-1 border-secondary px-5 py-3">
          <img src="./assets/brand/bajaj.png" alt="bajaj" class="brand-img">
        </div>
      </div>
      <div class="col-md-2 mt-2 col-6">
        <div class="text-center border border-1 border-secondary px-5 py-3">
          <img src="./assets/brand/hyundai.png" alt="hyundai" class="brand-img">
        </div>
      </div>

      <div class="col-md-2 mt-2 col-6">
        <div class="text-center border border-1 border-secondary px-5 py-3">
          <img src="./assets/brand/honda.png" alt="honda" width="75">
        </div>
      </div>


      <div class="col-md-2 mt-2 col-6">
        <div class="text-center border border-1 border-secondary px-5 py-3">
          <img src="./assets/brand/suzuki.png" alt="suzuki" width="57">
        </div>
      </div>

      <div class="col-md-2 mt-2 col-6">
        <div class="text-center border border-1 border-secondary px-5 py-3">
          <img src="./assets/brand/toyoto.png" alt="toyoto" width="70">
        </div>
      </div>

    </div>
  </div>

  <!---------------------------------------------------------------------------end---------------------------------------------------->


  <!-------------------------------------------------------------------blog's---------------------------------------------------------->

  <div class="container py-5">
    <div class="row g-3">
      <div class="col-md-4">
        <div class="card border border-0 rounded-0 mb-4">
          <img src="./assets/home/gallary-1.jpg" class="card-img" alt="..." height="300">
          <div class="card-img-overlay">
            <hr class="border border-warning border-2 w-25 opacity-100 m-0">
            <h5 class="card-title text-white align-self-end text-uppercase">Tuning</h5>
          </div>

        </div>
        <h5 class="text-white text-uppercase">how to make the engine work efficiently</h5>
        <div class="text-center">
          <button type="button" class="btn btn-bg fw-bold p-2 text-dark mt-2">READ MORE</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border border-0 rounded-0 mb-4">
          <img src="./assets/home/gallary-2.jpg" class="card-img" alt="..." height="300">
          <div class="card-img-overlay">
            <hr class="border border-warning border-2 w-25 opacity-100 m-0">
            <h5 class="card-title text-white align-self-end text-uppercase">Sport cars</h5>
          </div>

        </div>
        <h5 class="text-white text-uppercase">Wheel alignment vs front end alignment</h5>
        <div class="text-center">
          <button type="button" class="btn btn-bg fw-bold p-2 text-dark mt-2">READ MORE</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border border-0 rounded-0 mb-4">
          <img src="./assets/home/gallary-3.jpg" class="card-img" alt="..." height="300">
          <div class="card-img-overlay">
            <hr class="border border-warning border-2 w-25 opacity-100 m-0">
            <h5 class="card-title text-white align-self-end text-uppercase">technology</h5>
          </div>

        </div>
        <h5 class="text-white text-uppercase">how to check transmission fluid fast test</h5>
        <div class="text-center">
          <button type="button" class="btn btn-bg fw-bold p-2 text-dark mt-2 ">READ MORE</button>
        </div>
      </div>
    </div>
  </div>

  <!---------------------------------------------------------------------------end---------------------------------------------------->
</div>
<app-footer></app-footer>
